html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	}

ol, ul {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}

input, button {
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	}




html {
	font: 16px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-weight: normal;
	font-style: normal;
	background: #D5D0B2;
	color: #424242;
	}

#content h1 { font-size: 1.7em; }
#content h2 { font-size: 1.5em; }
#content h3 { font-size: 1.2em; }
#content h1,
#content h2,
#content h3 { font-weight:bold; margin-bottom:15px; }
a {
	color: #327ABA;
	}
a:hover {
	background: rgba(50, 122, 186, .125);
	}


#body {
	width: 58.75em;
	margin: 0 auto;
	}


#header {
	position: relative;
	background: #424242;
	height: 6.68em;
	margin: 1.5em 0;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	}
	#header h1 {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 30.5em;
		height: 8.18em;
		text-indent: -1000em;
		background: url(/media/img/sheriff-logo.png) no-repeat 0 bottom;
		}

#user {
	position: absolute;
	right: 2.66em;
	top: 1em;
	font-size: .75em;
	color: #B0AC96;
	}
	#user strong {
		color: #D5D0B2;
	}
	#user a {
		margin-left: .5em;
		}

#tabs {
	position: absolute;
	right: 2em;
	bottom: 0;
	padding: .5em 0;
	}
	#tabs li {
		display: inline;
		margin-left: 1em;
		}
	#tabs a {
		padding: .5em 1em;
		-moz-border-radius: .25em .25em 0 0;
		-webkit-border-radius: .25em;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		background: #727167;
		color: #D5D0B2;
		}
	#tabs a.active,
	#tabs a.active:hover {
		background: #D5D0B2;
		color: #424242;
		}
	#tabs a:hover {
		color: #fff;
		border-bottom: none;
		}


.errorlist li { color:red; }

.ui-datepicker td,
.ui-datepicker span { font-size: 0.8em; }
