{% extends "base.html" %}

{% block extra_site_css %}
{{ css('jquery_ui.datepicker') }}
{% endblock %}

{% block content %}
<p>To be able to start the roster we first need to initialize the first batch of sheriffs.<br>
Once this is set up we can rotate using this and add new users at the end of the rotation.</p>

<form action="." method="post">{{ csrf() }}
<div style="float:right" id="available-users">
<h3>Available users</h3>
<ul>
  {% for user in users %}
    <li><a href="#" id="{{ user.username }}">{{ get_user_name(user) }}</a></li>
  {% endfor %}
</ul>
</div>

<table>
{{ form|safe }}
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Set up roster"></td>
</tr>
</table>

</form>
{% endblock %}

{% block extra_site_js %}
{{ js('roster.initialize') }}
{{ js('jquery_ui.datepicker') }}
{% endblock %}
